

* {
    margin: 0;
    padding: 0;
}

header {
    border: solid 2px black;
    background-color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: orange;
}



.col img {
    height: 35vh;
    width: 55vh;
    border: solid 2px black;
    margin-top: 2px;
}
.col h2{
    margin-top: 6%;
}
.col p{
    margin-bottom: 5%;
}

.menu .col a {
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.container-fluid {
    text-align: center;
    
}

.container-fluid h1 {
    text-align: start;
}



    
   
    
